# Inhaltsverzeichnis 

- **Pandas Aufgaben**
    - **Datenvorbereitung**
        - **Aufgabe 1.1**
        - **Aufgabe 1.2**
        - **Aufgabe 1.3**
    - **Filtern, Group und Sort**
        - **Aufgabe 2.1**
        - **Aufgabe 2.2**
        - **Aufgabe 2.3**
        - **Aufgabe 2.4**
        - **Aufgabe 2.5**
        - **Aufgabe 2.6**
        - **Aufgabe 2.7**

# Pandas Aufgaben

Für folgende Aufgaben, um uns mit dem Pandas Framework bekannt zu machen, nutzen wir eine bearbeitete Version des <a href="https://www.kaggle.com/zynicide/wine-reviews">Wine Reviews Dataset</a>. 

Implementiere deinen Code nur **zwischen** den Kommentaren.

## Datenvorbereitung

### Aufgabe 1.1

Als erstes müssen wir die nötigen Module und den Datensatz importieren.
Wir benötigen `pandas` und ein `DataFrame`. Die Datei `wine_data.csv` findest du im Ordner des Notebooks. Die erste Spalte soll auch als Index der Tabelle hinzugefügt werden.

In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv("03wine_data.csv")
df

Manchmal kann es sein, dass bei manchen Spaltentiteln ein Leerzeichen steht. In der Informatik möchte man Leerzeichen minimieren, denn die machen uns den Job schwer, und immer mit einem Unterstrich `_` austauschen. 

Ein Beispiel sieht man unten. Man kann einfach auf die erste Spalte `country` zugreifen, aber nicht auf `taster name`.

In [ ]:
df.country.head()

In [ ]:
df.taster name.head()

Natürlich kann man das auch als 'klassischen' Index formulieren:

In [ ]:
df['taster name'].head()

### Aufgabe 1.2

Benutze die Methode `replace`, um alle Leerzeichen in `df.columns` mit `_` zu ersetzen.

In [ ]:
df.columns = [col.replace(" ", "_")  for col in df.columns]
df

### Aufgabe 1.3

Erstelle ein neues `DataFrame df1`, welches nur die Spalten `country` und `winery` enthält.

In [ ]:
df1 = df[["country", "winery"]]
df1

## Filtern, Group und Sort

### Aufgabe 2.1

Finde heraus, wer die meisten Reviews geschrieben hat. Dabei sollst du die Spalte `taster_twitter_handle` gruppieren und mit `count` die Anzahl der Bewertungen pro Person finden. Sortiere dann die `Series` nach dem Wert.

In [ ]:
df.groupby(['taster_twitter_handle']).taster_name.count().sort_values(ascending = False)

### Aufgabe 2.2

Finde den Wein mit den meisten Punkte `points` pro Land `country`. Verwende dazu die Methode `max()` nachdem du nach der Spalte `country` gruppiert hast.

In [ ]:
df.groupby(['country']).points.max().sort_values(ascending = False)

### Aufgabe 2.3

Finde die durchschnittliche Wertung `points` für alle Weinarten. Verwende dazu die Methode `mean()` nachdem du nach `variety` gruppiert hast. Idealerweise kannst du das `DataFrame` noch sortieren.

In [ ]:
df.groupby(['variety']).points.mean().sort_values(ascending = False)

### Aufgabe 2.4

Finde den günstigsten und teuersten Preis `price` für jede Weinart `variety`. Verwende dazu die Methode `.agg([max,min])`.

In [ ]:
df.groupby(['variety']).price.agg([max,min])

### Aufgabe 2.5

Welcher Wein hat eine Bewertung von 100 Punkten bekommen?

In [ ]:
df [df ["points"] == 100]

### Aufgabe 2.6

Welche Weinart (`variety`) kommt am häufigsten vor bei den Weinen mit 100 Punkten?

In [ ]:
df_points = df[df["points"] == 100]

df_points.groupby(["variety"]).variety.count().sort_values(ascending = False)

### Aufgabe 2.7

Welcher Wein kostet weniger als 10 Euro und hat mehr als 90 Punkte bekommen?

In [ ]:
df[(df["price"]< 10) & (df["points"]> 90)]